@using Microsoft.AspNet.Identity
@using WebApplication2.Models
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<strong class="alert alert-primary" style="margin-top:00px">My Profile</strong>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {

        var _context = new ApplicationDbContext();
        var UserID = User.Identity.GetUserId();
        var currentuser = _context.Users.Where(a => a.Id == UserID).SingleOrDefault();

        <div style="margin-left:0px;">

            <p class="" style="margin-left:0px">

                <img src="https://img.icons8.com/ios-glyphs/60/null/user--v1.png" alt="Alternate Text" />
                <strong>@currentuser.UserName</strong>

            </p>
            <p class="" style="margin-left:0px">
                <strong>@currentuser.Email من @currentuser.UserType</strong>
            </p>

            <div class="" style="margin-top: 20px; margin-left: 0px;">
                @if (currentuser.UserType == "الناشرون")
                {
                    <a href="@Url.Action("GetJobsByPublisher","Home")" class="btn btn-success btn-block">الوظائف التي قمت بنشرها</a>
                    <div class="" style="margin-left:; margin-top:30px;">
                        <a href="@Url.Action("Create","Jobs")" class="btn btn-info">ِAdd New Job</a>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("GetJobsByUser","Home")" class="btn btn-success  btn-block">الوظائف التي قمت بالتقدم اليها</a>
                }

            </div>

            <div class="" style="margin-left:0px; margin-top:30px;">
                <a href="@Url.Action("EditProfile","Account")" class="btn btn-primary">تعديل لحساب</a>
            </div>
            <a href="javascript:document.getElementById('logoff').submit()" class=" btn btn-danger" style="margin-top: 40px; margin-left: 0px; width: 100px; height: 40px;">
                Log Out
            </a>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <input type="file" name="UserPhoto" id="jobimage" />
                @Html.ValidationMessageFor(model => model.JobImage, "", new { @class = "text-danger" })
            </div>
        </div>*@
    }


}





@*<div>
        <div class="row">
            <div class="col-lg-1">
                <p class="text-center">

                    <img src="https://img.icons8.com/ios-glyphs/60/null/user--v1.png" alt="Alternate Text" />
                    <strong>@currentuser.UserName</strong>
                </p>
            </div>
        </div>
        <div class="row-cols-6">
            <a href="#" class="btn btn-primary">تعديل لحساب</a>
        </div>
        <div class="row-cols-6">
            @if (currentuser.UserType == "الناشرون")
            {
                <a href="@Url.Action("GetJobsByPublisher","Home")" class="btn btn-success btn-block">الوظائف التي قمت بنشرها</a>
            }
            else
            {
                <a href="@Url.Action("GetJobsByUser","Home")" class="btn btn-success  btn-block">الوظائف التي قمت بالتقدم اليها</a>
            }

        </div>
        <div class="row-cols-6">
            <a href="javascript:document.getElementById('logoff').submit()" class="btn btn-danger" style="width:100px;height:40px;">
                Log Out
            </a>
        </div>
    </div>*@